* {
    padding: 0;
    margin: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: Arial, Tahoma, Verdana,sans-serif;
    font-size: 16px;
    background: transparent;
    color: #000;
    line-height: 1.6;
    font-size: 100%;
}
div.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
div.wrap {background-image: linear-gradient(  #87CEFA, #0099FF);border-top: 5px groove;display: flex;}
header {
    height: 100%;
    background-image: linear-gradient(  #1E90FF, #FFFFFF 65%, #1E90FF);
}
#header, main, #footer {
    max-width: 1200px;
    margin: 0 auto;
}
main {
    background: #FFF;
}
.logo a img {
    margin: 1em 0 0 2em;
}
/*seach*/
.search {
    float: right;
    margin: 2em 2em 0 0;
    top: 0;
    }
.search > div {
    display: inline-block;
    position: relative;
    }
.search > div:after {
    content: "";
    background: white;
    width: 5px;
    height: 15px;
    position: absolute;
    top: 25px;
    right: -1px;
    transform: rotate(145deg);
    }
    
.search > div > input {
    color: #FFF;
    font-size: 10px;
    background: transparent;
    width: 5px;
    height: 5px;
    padding: 10px;
    border: solid 5px white;
    outline: none;
    border-radius: 20px;
    transition: width 0.5s;
    }
    
.search > div > input::placeholder {
      color: #efefef;
      opacity: 0;
      transition: opacity 150ms ease-out;
}
    
.search > div > input:focus::placeholder {
      opacity: 1;
    }
    
.search > div > input:focus,.search > div > input:not(:placeholder-shown) {
      width: 15em;
}
/*Nav*/
nav {
    float: right;
    margin-right: 1.2em;
    justify-content: flex-end;
}
nav ul li {
    list-style: none;
    float: left;
    border-right: 1px solid #fff;  
}
nav li>a ,.dropbtn{
    padding: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 550;
    background-image: linear-gradient(to bottom right, #007b9d, #1E90FF);
    display: inline-block;
    cursor: pointer;
}
.dropbtn {
    border: 1px solid transparent;
    height: 66px;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #000;
  font-weight: 600;
  padding: 12px 16px;
  background-color: #FFFFFF;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {background-color: #007b9d; color: #FFF;}
nav ul li>a:hover{
    position: relative;
    background: #234ae4;
    animation-name: example;
    animation-duration: 0.5s;
}
@keyframes example {
    from {border-top : 2px solid #FFCC00;}
    to   {border-top: 5px solid #FFCC00;}
}
#toggle {
    display: none;
    color: #fff;
    background: #234ae4;
    padding: 1.5em 2em;
    float: right;
}
/*thong ke*/
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.thke {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 65%;
    background: beige;
    margin: 10px 0 0 10px;
    border-radius: 10px;
}
.row-1,.row-2 {
    height: 50%;
    display: flex;
}
.col {
    font-size: 19px;
    margin: auto 0;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    font-weight: 600;   
}
.vn, .tgioi { margin-top: 5px; }
.box-vn, .box-tg {
    font-size: 24px;
    border-radius: 6px;
    padding: 6px 6px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.box-vn {
    background: #c9302c;
    top: 1px;
    left: 1px;
}
.box-tg {
    background: #3071a9;
    left: 1px;
    top: 126px;
}
.nhiem,h5 { color: #C9302C; }
.dtri { color: #FF9C00; }
.khoi { color: #28A745; }
.tvong { color: #555555; }
.text-up {
    text-transform: uppercase !important;
}
.center {
    text-align: center !important;
}
.justify {
   text-align: justify;
}
.border {
    border: 1px solid #dee2e6 !important;
}
marquee{
    font-size: 23px;
    color: rgb(255, 6, 6);
    font-weight: bold;
    padding: 10px 0;
}
/*SLIDE*/
div#slide.column {
    display: flex;
    width: 33%;
    margin: 10px 10px 0 0;
}
#slide img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
/*Dien bien*/
div.content {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 22px;
    text-transform: uppercase;
    border-left: navy 4px solid;
    background: #FFCC66;
    padding: 8px 5px;
    font-weight: bold;
}
#dienbien .thtin{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
    padding: 5px 0;
    margin: 5px 0 15px 20px;
    line-height: 1.5;
    letter-spacing: 1px;
    box-shadow: 3px 5px #777777;
    border: 5px ridge
}
.thtin p{
    background-color: rgba(206, 206, 206, 0.356);
    padding: 20px;
}
/*tin tức*/
.new ul li {
    max-width: 29%;
    height: 25em;
    list-style: none;
    float: left;
    margin: 2em 0 0.5em 1.7em;
    padding: 0.5em;
    border: 1px solid #000;
    box-shadow: 4px 6px #777777;
}
.new a img {
    overflow: hidden;
    height: 144px;
    width: 100%;
    transform: all 1s ease-in-out;
}
.new a {
    text-decoration: none;
    color: #000;
    font-weight: 550;
}
.new ul li:hover img {
    transform: scale(1.05);
}

/*Video*/
div.sidebar { 
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0.6em;
}
iframe {
    width: 100%;
    height: 17em;
    padding: 0.3em;
}
.title-video {
    font-size: 20px;
    padding: 0.5em;
    font-weight: 600;
}
/*Bluezone*/
.row.app {
    background: #0166de;
    flex-direction: column;
}
.bluezone-content .logodown {
    margin-left: 11em ;
    margin-bottom: 2em;
    height: 5em;
    width: 12em;
    float: left;
}
.bluezone .bluezone-content p {
    padding: 1.4em 3.5em;
    line-height: 1.5em;
    font-size: 28px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}
/*footer*/
footer {
    width: 100%;
    height: auto;
    background: #6B6B6B;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#footer {
    position: relative;
    padding: 50px 100px 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
footer #footer .sec {
    margin-right: 30px;
}
footer #footer .sec.aboutus {
    width: 30%;
}
footer #footer h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer #footer h2:before {
    content: ' ';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: red;
}
footer #footer .sec.aboutus p {
    color: #AAA;
}
.mxh {
    margin-top: 20px;
    display: flex;
}
footer li {
    list-style: none;
}
.mxh li a {
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 12.5px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    background: #999999;
}
.mxh li a:hover {
    background:   #666666;
}
.mxh li a .fab {
    color: #fff;
    font-size: 20px;
}
.quick-link {
    position: relative;
    width: 25%;
}
.quick-link li a {
    color: #AAA;
    text-decoration: none;
    margin-bottom: 25px;
    display: inline-block;
} 
.hover ul li a:hover {
    color: #fff;
}
.contact {
    width: calc(100% - 35% - 25% - 60px);
    margin-right: 0 !important;
}
.contact .info {
    position: relative;
}
.contact .info li {
    display: flex;
    margin-bottom: 8px;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
}
.contact .info li span {
    color: #AAA;
}
.contact .info li a {
    color: #AAA;
    text-decoration: none;
}
.copyrighttext {
    width: 100%;
    background: #181818;
    color: #999;
    padding: 8px 0px;
}
/*Hotline*/
#call{
    position: fixed;
    bottom: 40px;
    left: 30px;
}
#call img {
    background: #FFF;
    border-radius: 10px;
}
#call a{
    display: block;
    width: 30px;
}
#call a:after{
    content: "";
    position: absolute;
    left: 5px;
    top: 10px;
    width: 70px;
    height: 35px;
    margin-left: 0px;
    transition: .25s;
    z-index: -1;
}
#call a:hover:after{
    content: " Hotline";
    background: red;
    width: 70px;
    height: 35px;
    margin-left: 50px;
    padding: 5px;
    border-radius: 5px;
    border-bottom-left-radius: 0 ;
    color: #fff;
}
/*top*/
.back2top{
    display: block;
    color: #fff;
    font-size: 50px;
    float: right;
    position: fixed;
    bottom: 60px;
    right: 10px;
}
